*{
  margin: 0;
  padding: 0;
}
body{
    height: 100vh;
    background: radial-gradient(circle, rgb(219, 81, 104), pink);
    overflow: hidden;
    display: flex;justify-content: center;
    align-items: center;
    position: relative;

}
body::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%
}
.heart-container{
    animation:pulse 2s infinite;
    transition: transform 0.3 ease, filter 0.3s ease;
   filter: drop-shadow(0 0 17px rgb(189, 13, 42));
   font-size: 127px;
   cursor: pointer;

}
.heart{
    color: rgb(0, 0, 0);
    text-shadow: 
    0 0 7px rgb(117, 35, 48),
    0 0 17px  rgb(118, 43, 56),
    0 0 27px  rgb(74, 27, 34)
}
.heart-container: hover{
    transform: scale(1.1) rotate(2deg);
    filter: drop-shadow(0 0 30px rgb(255, 255, 255)) hue-rotate(45deg);
}
@keyframes pulse{
    0%, 100%{
        transform:scale(1.2);

    }
    50%{
        transform: scale(1);
    }
}